@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* navbar */

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.logo {
    order: 1;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-left: 30px;
}

.menubar {
    order: 2;
    display: flex;
    margin-right: 30px;
}

.menubar li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menubar a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menubar a:hover {
    color: #e84401;
    transition: color 0.2s ease-in-out;
}

/* showcase */

.showcase-area {
    position: relative;
    background: linear-gradient(rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.336)), 
                url(../images/hero-image.webp) no-repeat center;
    background-size: cover;
    height: 650px;
    overflow: hidden;
    width: 100%;
}

.showcase-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.showcase-container h1 {
    margin: 0;
    font-size: 3.0rem;
}

.showcase-container h1 span {
    border: 6px solid #fff;
    padding: 6px 14px;
    display: inline-block;
}

.cen {
    margin: 20px;
    display: block;
    font-size: 2rem;
}

.button {
    color: #313131;
    padding: 10px 24px;
    background: #f1f1f1;
    text-decoration: none;
    border-radius: 12px;
    transition: .6s;
}

.button:hover {
    background: #e84401;
    transition: 0.2s ease-in-out;
}

/* about us */

#about {
    background: rgb(220, 220, 220);
    font-weight: 900;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}

.about-title {
    text-align: center;
    font-size: 2.4rem;
}

#about h3 {
    font-size: 2.2rem;
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    font-size: 1.2rem;
}

.about-img {
    max-width: 100%;
}

/* media queries */

@media screen and (max-width: 605px) {
    .logo, .menubar li {
        font-size: 1rem
    }
}